@model IEnumerable<ScholarshipHub.Models.ApplicationsToOrganization>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Approvelist</title>
</head>
<body>
    <center>
        <br/>
        <h1> Approved List</h1>
        <table class="table" border="2">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationOffer.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motivation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentBio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AplicationStatus)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationOffer.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AplicationStatus)
            </td>


            <td>
            </td>
        </tr>
            }

        </table>
        <p>

            @Html.ActionLink("Back to List", "StudentApplication")
        </p>
    </center>
</body>
</html>
