@model IEnumerable<ScholarshipHub.Models.UniversityOffer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
       
    </p>
    <div>
        <table width="100%">
            <tr>
                <td>
                    <h4>Scholarship Hub | Offerings</h4>
                </td>
                <td align="right">
                    @Html.ActionLink("Offer new Scholarship Program", "Create")
                </td>
                <td align="right" width="40%">
                     @Html.ActionLink("Home", "Index", "University")|@Html.ActionLink("Logout", "Logout", "Login")
                </td>
            </tr>
        </table>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferedDegree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requirements)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferedDegree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requirements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.ActionLink("Manage Applications", "AppsToUniOffer",new {uniOfferId=item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
</body>
</html>
