@model ScholarshipHub.Models.Organisation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password</title>
</head>
<body>
    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Organisation</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)



                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <input type="hidden" name="Name" value="@Model.Name" />
                <input type="hidden" name="Username" value="@Model.Username" />
                <input type="hidden" name="Email" value="@Model.Email" />
                <input type="hidden" name="Contact" value="@Model.Contact" />
                <input type="hidden" name="City" value="@Model.City" />
                <input type="hidden" name="Postal" value="@Model.Postal" />
                <input type="hidden" name="AddressLine" value="@Model.AddressLine" />
                <input type="hidden" name="Country" value="@Model.Country" />
                <input type="hidden" name="Description" value="@Model.Description" />
                <input type="hidden" name="ApprovalPath" value="@Model.ApprovalPath" />
                <input type="hidden" name="Information" value="@Model.Information" />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to Profile", "Profile")
        </div>
        <h5>@TempData["error"]</h5>
    </center>
    
</body>
</html>
